@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pixelify Sans", sans-serif;
}

body {
  background: linear-gradient(-135deg, rgb(0, 0, 148), rgb(63, 1, 144));
}

.gradient-bg {
  background: linear-gradient(135deg, blue, purple);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 500px;
  height: 500px;
  border-radius: 50px;
  margin-top: 75px;
  overflow: hidden;
}

.list-div {
  width: 500px;
  margin: 0 auto;
  position: absolute;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 47);
}

.list {
  color: white;
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin-left: 50px;
  transition: ease all 0.5s;
}

a {
  color: white;
  transition: font-size 0.15s;
  line-height: 40px;
  font-size: 16px;
}

a:hover {
  font-size: 18px;
}

ul {
  list-style-type: none;
}

.social-container {
  background-color: rgb(133, 112, 255);
  border-radius: 10px;
  width: 175px;
  margin-top: 20px;
  margin: auto 0;
  margin-top: 5px;
}

.socials {
  color: white;
  transition: all 0.15s;
  line-height: 2;
}

.socials:hover {
  font-size: 16px;
  color: rgb(0, 0, 47);
}

.links li {
  color: rgb(0, 0, 47);
}

@media screen and (max-width: 430px) {
  .list {
    margin-left: 100px;
  }
}
@media screen and (max-width: 330px) {
  .list {
    margin-left: 150px;
  }
}
@media screen and (min-height: 760px) {
    .social-container {
        margin-top: calc(58.9vh - 375px);
    }
    .gradient-bg {
        margin-top: 125px;
      }
}

.hi {
    color: rgb(0, 0, 47);
}

/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #16007a rgb(0, 0, 148);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: rgb(0, 0, 148);
  }

  *::-webkit-scrollbar-thumb {
    background-color: #16007a;
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 148);
  }